{
    "company": "SSO R Us",
    "logo": "https://www.example.com/logo.jpg",
    "title": "Single Sign On",
    "paths": {
        "filesystem": "/var/www/sso/auth",
        "urlpath": "/auth/",
        "loginurl": "/auth/login",
        "logouturl": "/auth/logout",
        "url": "http://example.com:8181/auth/"
    },
    "session": {
        "key": "OogiDael0looT9pheiGh1rac",
        "name": "auth_sso",
        "domain": "example.com",
        "path": "/",
        "lifetime": 0,
        "idletime": 3600,
        "secure": 1
    },
    "headers": {
        "user": "X-Forwarded-User"
    },
    "auth_providers": {
        "order": ["radius"],
        "radius": {
            "servers": {
                "10.1.1.1": {
                    "port": 1812,
                    "secret": "secret",
                    "timeout": 5,
                    "max_tries": 3
                },
                "10.1.1.2": {
                    "port": 1812,
                    "secret": "secret",
                    "timeout": 5,
                    "max_tries": 3
                }
            }
        }
    }
}
