{% extends 'base.html.twig' %}

{% block title %}Logged in
{% endblock %}

{% block page_title %}Logged in
{% endblock %}

{% block content %}

  <p class="lead">You are logged in.</p>

  <a href="{{logouturl}}">Click here to logout</a>

{% endblock %}
